<div class='page-header text-center'>
  <h1>Dictionary-O-Rama</h1>
</div>
<div class='row'>
  <div class='col-md-6 text-center'>
    <a href="/word_list">List of Words</a>
  </div>
  <div class='col-md-6 text-center'>
    <a href="/word_add">Add a New Word</a>
  </div>
