<div class='page-header text-center'>
  <h1>Add a Word</h1>
</div>

<form action='/word_list' method="post">
  <div class='form-group'>
    <label for="name">Enter Word:</label>
    <input id="name" type="text" name="name" type="text">
  </div>
  <button id='save_word' name='save_word' type='submit'>Save</button>
</form>
