<div class='page-header text-center'>
  <h1>List of Words</h1>
</div>

<ul>
    <% @word_list.each() do |word| %>
    <li><a href='/word_detail/<%= word.name() %>'><%= word.name() %></a></li>
    <% end %>
</ul>
